<div class="carousel-container">
  <div class="carousel-slide" *ngIf="banners().length">
    <div class="banner-bg" [ngStyle]="{ 'background-image': getBackgroundImage(banners()[currentIndex()]?.backgroundImage ?? '') }" [@slideFade]>
      <div class="banner-logo">
        <img
          [ngSrc]="banners()[currentIndex()]?.mainImage ?? ''"
          alt="Banner Image"
          width="220"
          height="120"
        />
      </div>
      <div class="banner-content">
        <h1>{{ banners()[currentIndex()]?.title ?? '' }}</h1>
        <p>{{ banners()[currentIndex()]?.text ?? '' }}</p>
        <button class="banner-btn">{{ banners()[currentIndex()]?.buttonText ?? '' }}</button>
      </div>
    </div>
    <div class="carousel-dots" *ngIf="banners().length > 1">
      <span *ngFor="let banner of banners(); let i = index" [class.active]="i === currentIndex()" (click)="currentIndex.set(i)"></span>
    </div>
  </div>
</div>
